general:
  public_url: ${RADIOAVENTURAMX_PUBLIC_URL}
  api_key: ${RADIOAVENTURAMX_API_KEY}
  secret_key: ${RADIOAVENTURAMX_SECRET_KEY}
  allowed_cors_origins: []
  timezone: America/Mexico_City
  cache_ahead_hours: 1
  auth: local

storage:
  path: /srv/libretime

database:
  host: radioaventuramx-postgres
  port: 5432
  name: libretime
  user: libretime
  password: ${RADIOAVENTURAMX_POSTGRES_PASSWORD}

rabbitmq:
  host: radioaventuramx-rabbitmq
  port: 5672
  vhost: /libretime
  user: libretime
  password: ${RADIOAVENTURAMX_RABBITMQ_PASS}

email:
  from_address: radioaventuramx@estacionkusmedios.com
  host: localhost
  port: 25

playout:
  liquidsoap_host: radioaventuramx-liquidsoap
  liquidsoap_port: 1234
  record_file_format: ogg
  record_bitrate: 256
  record_samplerate: 44100
  record_channels: 2
  record_sample_size: 16

liquidsoap:
  server_listen_address: 0.0.0.0
  server_listen_port: 1234
  harbor_listen_address: ["0.0.0.0"]

stream:
  inputs:
    main:
      mount: main
      port: 8001
      secure: false
    show:
      mount: show
      port: 8002
      secure: false

  outputs:
    .default_icecast_output: &default_icecast_output
      host: radioaventuramx-icecast
      port: 8000
      source_password: ${RADIOAVENTURAMX_ICECAST_SOURCE_PASSWORD}
      admin_password: ${RADIOAVENTURAMX_ICECAST_ADMIN_PASSWORD}
      name: RadioAventuraMX
      description: RadioAventuraMX - EstacionKusMedios Digital
      website: https://estacionkusmedios.com
      genre: various

    icecast:
      - <<: *default_icecast_output
        enabled: true
        public_url:
        mount: main
        audio:
          format: ogg
          bitrate: 256

      - <<: *default_icecast_output
        enabled: false
        mount: main-low
        audio:
          format: ogg
          bitrate: 128

      - enabled: false
        host: localhost
        port: 8000
        mount: main
        source_password: hackme
        admin_password: hackme
        audio:
          format: ogg
          bitrate: 256
        name: RadioAventuraMX
        description: RadioAventuraMX
        website: https://estacionkusmedios.com
        genre: various

    shoutcast:
      - enabled: false
        host: localhost
        port: 8000
        source_password: hackme
        admin_password: hackme
        audio:
          format: mp3
          bitrate: 256
        name: RadioAventuraMX
        website: https://estacionkusmedios.com
        genre: various

    system:
      - enabled: false
        kind: pulseaudio
